# MLOps & Data Science Artifacts
# -------------------------------------------------------------------
# Ignore all data, models, and artifacts. These should be tracked by DVC.
/artifacts/
/data/
/sota_model/
# Ignore the DVC local cache. This is where the actual data files are stored.
.dvc/cache

# Ignore MLflow experiment tracking output
/mlruns/

# Ignore logs
/logs/
*.log

# Ignore common model file extensions, just in case
*.h5
*.pkl
*.model
*.onnx


# Python Virtual Environments
# -------------------------------------------------------------------
/venv/
/myenv/
/.venv/
/env/
/ENV/
*/.venv/
*/venv/
*/myenv/


# Python Byte-code and Caches
# -------------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class


# Python Packaging & Distribution
# -------------------------------------------------------------------
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# IDE and Editor Configuration
# -------------------------------------------------------------------
# PyCharm
.idea/

# Visual Studio Code (allow sharing of recommended extensions)
.vscode/*
!.vscode/extensions.json

# Sublime Text
*.sublime-project
*.sublime-workspace


# Secrets and Environment Variables
# -------------------------------------------------------------------
# NEVER commit secrets or environment variables
.env
*.env
secrets.yaml
secrets.json


# Operating System Files
# -------------------------------------------------------------------
# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini


# Jupyter Notebook Checkpoints
# -------------------------------------------------------------------
.ipynb_checkpoints/


# Other
# -------------------------------------------------------------------
# Temporary files
*.tmp
*.bak
*.swp

.env
*.env
secrets.yaml
secrets.json